body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: white;
  }
  
  #quiz-container {
    width: 300px;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .correct {
    color: rgb(0, 211, 0);
  }
  
  .incorrect {
    color: red;
  }
  
  #result {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 10px;
  }
  